.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.5s;
}

.login-active {
  background-color: #f8f9fa;
  /* Light grey background for login form */
}

.signup-active {
  background-color: #ffffff;
  /* White background for sign-up form */
}

.switch-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.switch-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  transition: color 0.3s;
}

.switch-button.active {
  color: #007bff;
  /* Blue color for active button */
}